body {
  background-color: #F8F9FA;
  font-family: 'Space Mono', monospace;
}

h5 {
  margin: auto;
  padding: none;
}

.accent-color {
  color: darkslategray;
}


.bio-text {
  justify-content: left;
  margin: auto;
  padding: none;
  text-align: left;
}

.btn {
  background-color: darkslategray;
  color: white;
  margin: 2rem 0;
  padding: 1rem;
}

.container-1-bg {
  background-color: darkslategray;
  display: flex;
  margin: none;
  padding: 1rem 0 0 0;
}

.container-2-bg {
  background-color: lightgray;
  display: flex;
  margin: auto;
  padding: 2rem 0 2rem 0;
}

.container-3-bg {
  background-color: lightsalmon;
  display: flex;
  margin: auto;
  padding: 2rem 0 2rem 0;
}

.container-4-bg {
  background-color: lightsalmon;
  display: flex;
  margin: none;
  padding: 2rem 0 2rem 0;
}

.main-bio {
  padding: none;
  margin: 8%;
}

.main-col {
  padding: 1rem;
}

.navbar {
  margin: 0 8% 0;
}

.navbar-brand {
  margin: none;
}

.profile-img {
  margin: auto;
  width: 50%;
}

.skills {
  padding: none;
  margin: 8%;
}

.work-imgs-curr {
  margin: auto;
  padding: none;
  width: auto;
  height: 5rem;
}

.work-imgs-past {
  margin: auto;
  padding: none;
  width: auto;
  height:2.2rem;
}