/*-------------------------------MAIN ELEMENTS-------------------------------*/
body {
  background-color: #FFFFFF;
  font-family: 'Space Mono', monospace;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #9C415F;
  font-family: font-family: 'Space Mono', monospace;
  font-size: 4rem;
  text-align: center;
  text-transform: lowercase;
}

span {
  color: #9C415F;
}

p {
  color: #000000;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: auto 15% auto 15%;
  padding: 1.25rem;
  display: block;
  text-align: left;
}

a:hover {
font-weight: bold;
text-decoration: none;
}

footer {
  background-color: none;
}

/*-------------------------------CLASS SELECTORS-------------------------------*/

.profile-picture {
  display: block;
  margin: 0 auto 0 auto;
  padding: 30px;
  width: 17rem;
}

.nav-link:hover {
  color: #9C415F;
}

.work-image-main {
  display: block;
  height: auto;
  margin: auto;
  width: 80%;
  padding: 1rem 0 1rem 0;
}

.whiteBox {
  margin: none;
  padding: 2em;
  display: inline-block;
}

.foot {
  color: #000000;
  font-size: 0.5rem;
  text-align: center;
}
