body {
  background-color: #F8F9FA;
}

.accent-color {
  color: darkolivegreen;
}

.bio-text {
  justify-content: left;
  padding: none;
  text-align: left;
}

.btn {
  background-color: darkolivegreen;
  color: white;
}

.main-bio {
  padding: 1rem 1rem 4rem 1rem;
}

.profile-img {
  margin: auto;
  width: 53%;
}

.container-bg {
  background-color: darkolivegreen;
  display: flex;
  margin: none;
  padding: 3rem;
}